@font-face {
    font-family: "Roboto Slab";
    src: url("/src/lib/assets/RobotoSlab-VariableFont_wght.ttf") format("truetype");
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gurmukhi MT";
    background: var(--color-background);
}

body {
    color-scheme: dark;
}

::selection {
    background: var(--indigo-7);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
}

:root {
    --font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
    
    /* Radix UI gray Dark */
	/* --gray-1: #111113;
	--gray-2: #18191b;
	--gray-3: #212225;
	--gray-4: #272a2d;
	--gray-5: #2e3135;
	--gray-6: #363a3f;
	--gray-7: #43484e;
	--gray-8: #5a6169;
	--gray-9: #696e77;
	--gray-10: #777b84;
	--gray-11: #b0b4ba;
	--gray-12: #edeef0; */

    /* Radix UI gray light */

    --brand-dark: #111113;

	--gray-1: #fcfcfc;
	--gray-2: #f9f9f9;
	--gray-3: #f0f0f0;
	--gray-4: #e8e8e8;
	--gray-5: #e0e0e0;
	--gray-6: #d9d9d9;
	--gray-7: #cecece;
	--gray-8: #bbbbbb;
	--gray-9: #8d8d8d;
	--gray-10: #838383;
	--gray-11: #646464;
	--gray-12: #202020;

	--indigo-1: #fdfdfe;
	--indigo-2: #f7f9ff;
	--indigo-3: #edf2fe;
	--indigo-4: #e1e9ff;
	--indigo-5: #d2deff;
	--indigo-6: #c1d0ff;
	--indigo-7: #abbdf9;
	--indigo-8: #8da4ef;
	--indigo-9: #3e63dd;
	--indigo-10: #3358d4;
	--indigo-11: #3a5bc7;
	--indigo-12: #1f2d5c;

    --red-1: #191111;
    --red-2: #201314;
    --red-3: #3b1219;
    --red-4: #500f1c;
    --red-5: #611623;
    --red-6: #72232d;
    --red-7: #8c333a;
    --red-8: #b54548;
    --red-9: #e5484d;
    --red-10: #ec5d5e;
    --red-11: #ff9592;
    --red-12: #ffd1d9;

    --header-height: 81px;

    --color-background: var(--gray-1);
    --color-surface: var(--gray-2);
    --color-surface-raised: var(--gray-3);
    --color-text: var(--gray-12);
    --color-text-contrast: var(--gray-1);
    --color-text-link: var(--indigo-11);
    --color-accent: var(--indigo-9);
    --color-border: var(--gray-6);
    --color-text-danger: var(--red-9);

    --space-xs: 0.25rem;
    --space-s: 0.5rem;
    --space-m: 1rem;
    --space-l: 2rem;
    --space-xl: 4rem;
    /* OLD */
    /* --color-text-weak: #d5d6d8; */
    --color-text-weak: var(--gray-11);
    --color-text-placeholder: var(--gray-8);
    /* --color-text-weak: #161a1d; */
}

@media only screen and (max-width: 700px) { 
    :root {
        /* --header-height: 58px; */
        --header-height: 65px;
    }  
}